@inherits LayoutComponentBase


<MatAppBarContainer>
    <MatAppBar>
        <MatAppBarRow>
            <MatAppBarSection>
                <p>
                    <MatIconButton Icon="menu" @ref="OpenMenuButton" OnClick="OnOpenMenu"></MatIconButton>

                    <MatMenu @ref="Menu">
                        <MatList>
                            <MatListItem>Breeds</MatListItem>
                            <MatListItem>Glossory</MatListItem>
                            <MatListItem>Dog API</MatListItem>
                            <MatListItem>Blazor</MatListItem>
                            <MatListItem>About Me</MatListItem>
                        </MatList>
                    </MatMenu>
                </p>
                <MatAppBarTitle>Osiris explorer Presents... Dog API</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="favorite"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>

        <div class="content">
            <MainNavLinks></MainNavLinks>

            @Body
        </div>
        <div class="page_link">xxxx</div> | <div>yyyyyy</div> | <div>zzzz</div>

    </MatAppBarContent>
</MatAppBarContainer>

<style>
    .grid-container {
        display: grid;
    }


    .content {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>


@code{
    BaseMatIconButton OpenMenuButton;
    BaseMatMenu Menu;

    public void OnOpenMenu(MouseEventArgs e)
    {
        this.Menu.OpenAsync(OpenMenuButton.Ref);
    }
}
