<h3>Fatal Error</h3>

<div class="error">
    Shit happend charlie... @Message
</div>


<style>
    .error{
        color:red;
    }
</style>

@code {

    [Parameter] public string Message { get; set; }

}
