@inherits FullSearchBase

<div>
    <h4>Full Search (@Count)</h4> 
</div>
<div class="container">
    <div class="item">
            <MatTextField @bind-Value="@SearchString" OnInput="@(e => SearchString = e.Value.ToString())" OnKeyUp="@HandleKeyUp"  Label="Name"></MatTextField>
        </div>
</div>

@code {

}
