@inject NavigationManager NavigationManager

<div class="container">
    <div class="item">
        <MatButton Icon="dashboard" OnClick="@OnBreedsClick" Label="Breed"></MatButton>
    </div>
    <div class="item">
        <MatButton Icon="horizontal_split" OnClick="@OnGlossoryClick" Label="Glossory"></MatButton>
    </div>
    <div class="item">
        <MatButton Icon="feedback" OnClick="@OnContactUsClick" Label="Contact Us"></MatButton>
    </div>
    <div class="item">
        <MatButton Icon="settings_input_component" OnClick="@OnAboutClick" Label="About Osiris Explorer"></MatButton>
    </div>
</div>



<style>
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;

    }

    .item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    a{

    }
</style>

@code {
    public void OnBreedsClick()
    {
        NavigationManager.NavigateTo("breeds");
    }

    public void OnGlossoryClick()
    {
        NavigationManager.NavigateTo("glossory");
    }

    public void OnContactUsClick()
    {
        NavigationManager.NavigateTo("contact-us");
    }

    public void OnAboutClick()
    {
        NavigationManager.NavigateTo("about-us");
    }
}
