@inherits RandomCollageBase



@if (RandomDogs != null)
{

    <Animate Animation="Animations.FlipDown" Duration="TimeSpan.FromSeconds(1)">

        <h4>Random Collage <i>Loading... @RandomDogs.Count</i> / @PictureCallageCount</h4>
    </Animate>

    <div>

        <div class="container">
            @foreach (Image dog in RandomDogs)
            {
                <Dog Dog="dog"></Dog>

            }

        </div>


    </div>


}
else
{
    <h4>Random Collage (@PictureCallageCount)</h4>

}

<style>
    .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around
        /* display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;*/
    }

    .item {
        margin-top: 15px;
        margin-bottom: 15px;
        /* padding: 20px;
            font-size: 30px;
            text-align: center;*/
    }
</style>

