@inherits AboutUsBase
@page "/about-us"

<h3>About Us</h3>

@if (Bios != null)
{
    foreach (Bio bio in Bios)
    {
        <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(1.5)">
            <OsirisBio Name="@bio.Name" Picture="@bio.Picture" Description="@bio.Description"></OsirisBio>
        </Animate>
    }
}



