@inherits BreedsBase
@page "/breeds"

<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">

    @if (AllDogs != null)
    {
        <h3>Breeds (@AllDogs.Count)</h3>



        <FullSearch @bind-Dogs="AllDogs" @bind-FilteredDogs="FilteredDogs" @bind-FilteredDogs:event="FilteredDogsChanged"></FullSearch>

        @if (FilteredDogs != null)
        {
            <div class="container">

                @foreach (var dog in FilteredDogs)
                {

                    <Dog Dog="dog"></Dog>

                }
            </div>
        }
    }
    else
    {
        <h3>Loading Breeds...</h3>

    }
</Animate>
<style>
    .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

