@page "/"




<div class="container">
    <div class="item">
        <Animate Animation="Animations.FlipDown" Duration="TimeSpan.FromSeconds(2)">
            <h3>Welcome home, the home to Osiris, exploring <a class="grey" target="_blank" href="https://thedogapi.com/">The Dog API</a> </h3>
        </Animate>
    </div>
    <div class="item">
        <RandomCollage></RandomCollage>


    </div>
</div>

<style>
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    item {
        margin: 20px;
    }

    .grey {
        color: grey;
    }
</style>